Package          Version
---------------- -------
EasyProcess      0.2.3  
pip              18.1   
PyVirtualDisplay 0.2.1  
selenium         3.14.1 
setuptools       40.4.3 
urllib3          1.24   
wheel            0.32.2 
